*{
    padding: 0%;
    margin: 0%;
}

body{
    width: 100%;
    height: 100%;
}

.topo{
    width: 100%;
    position: relative;
    
}

.cabecalho{
    width: 100%;
    height: 5vh;
    background-color: cornflowerblue;
    align-items: center;
    padding-top: 1%;
    padding-left: 0%;
    display: flex;
    justify-content: space-around;
}

.recanto{
    padding-top: 0%;
    width: 100%;
    text-align: center;
    /*background-image: url("https://c.pxhere.com/photos/34/0c/ocean_wave_sea_water_tide_tidal_beach_surf-695776.jpg!d");
    margin-top: 10%;/**/
    background-image: url("/images/landscape-nature-horizon-mountain-cloud-sky-1217291-pxhere.com.jpg");
}


.reserva{
    color: rgba(112, 218, 12, 0.808);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.212);

    
}

.logo{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10%;
    position: relative;
}

.logoIm{
    width: 50%;
    height: 50%;
    
}

.contato{
    color: aliceblue;
    text-decoration: none;

}

.localizacao{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 255, 0.415);
    margin-top: -10%;
    position:relative; /*Permite que os elementos fiquem conforme o justify content e, ainda, sobreponham a logo*/
    background-image: url("/images/beach-sea-coast-water-ocean-wave-695776-pxhere.com.jpg");
    
}

.textos{
    font-family: Vacation Planner, 'Times New Roman', Times, serif;
    color:rgba(98, 0, 255, 0.363);
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4vh;
    
}

@font-face{
    font-family: ke Aloha;
    src: url('/fontes/Ke\ Aloha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: vegan;
    src: url('/fontes/VeganStylePersonalUse-5Y58.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: Vacation Planner;
    src: url('/fontes/VacationPlanner/Vacation\ Planner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

