*{
    padding: 0%;
    margin: 0%;
}

body{
    width: 100%;
    height: 100%;
}

.topo{
    width: 100%;
    position: relative;
    
}

.cabecalho{
    width: 100%;
    height: 5vh;
    background-color: cornflowerblue;
    align-items: center;
    padding-top: 1%;
    padding-left: 0%;
    display: flex;
    justify-content: space-around;
}

.recanto{
    padding-top: 0%;
    width: 100%;
    text-align: center;
    background-image: url("https://c.pxhere.com/photos/34/0c/ocean_wave_sea_water_tide_tidal_beach_surf-695776.jpg!d");
    margin-top: 1%;/**/
    /*background-image: url("/images/pearlmienorpxhere.com.jpg");*/
    background-position: top; /*Estabelece o local da imagem de fundo, se o foco será no bottom da imagem ou no topo, por exemplo*/

    

}


.reserva{
    color: rgba(112, 218, 12, 0.808);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.212);

    
}

.logo{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -9%;
    /*position: relative;*/
    background-color: rgba(0, 0, 0, 0.034);
}

.logoIm{
    width: 25%;
    height: 50%;
    
}

.contato{
    color: aliceblue;
    text-decoration: none;
    position: relative;

}

.localizacao{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 255, 0.415);
    margin-top: -10%;
    position:relative; /*Permite que os elementos fiquem conforme o justify content e, ainda, sobreponham a logo*/
    background-image: url("images/beach-sea-coast-water-ocean-wave-695776-pxhere.com.jpg");
    padding-top: 1%;
    height: 100%;
    
}

.mapa{
    margin-bottom: 1%;
}

.nome{
    text-align: center;
    color: rgba(98, 0, 255, 0.363);
}

.textos{
    font-family: Vacation Planner, 'Times New Roman', Times, serif;
    color:rgba(98, 0, 255, 0.363);
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4vh;
    
}

.setor2{
    background-image: url("images/pearl-white-clam-top-shot-shell-white-pearl-1602646-pxhere.com.jpg");
}

.acomodar{
    font-family: Vacation Planner, 'Times New Roman', Times, serif;
    color:rgba(98, 0, 255, 0.363);
    margin-top: auto;
    margin-bottom: auto;
    font-size: 8vh;
    text-align: center;
    padding-top: 1%;
}

/*Inserção do Carrossel*/

.setor2{
    /*background-color: rgb(219, 214, 204);*/
    /*padding-top: 0%;*/
    padding: 0% 0% 5% 0%;
    text-align: center;    
    width: 100%;
    /*background-color: rgb(141, 140, 138);*/
    background-color: rgb(235, 250, 248);
    /*background-color: rgba(114, 118, 119, 0.767);*/
}

.slide{
    width: 100%; /*Tamanho do slide dentro da section. Deixar em 100% se quiser a ocupação de toda a section*/
    height: 40%;
    overflow: hidden; /*Impede que o carrossel vaze*/
    border-radius: 2%;
    transition: all 0.4s;
    /*align-items: center;*/
  
}

.slides{
    width: 100%; /* Esse width tem que representar o número de elementos do carrossel * 100% para ocupar todo o slide
    Tentar deixar em fit-content para verificar se o comportamento deste combina com a lógica da programação do carrossel.*/
    display:flex; 
    padding-top: 1%; 
}

.pag{
    display: flex; /*Foi criada a class pag para configurar texto e imagem do carrossel lado a lado, o que é permitido através do atributo 
    'flex';*/

}

.image img{
    width:  70vw; /*Representa o tamanho da imagem. Fica no fit-content para padronizar os tamanhos*/
    height: 40vw; /*Nesse percentual permite a inclusão da tag <p>*/
    /*padding-left: 10%;
    padding-right: 10%;*/
    margin-left: 10%;
    border-radius: 5%;

}

.btn{
    position: absolute;
    color: rgba(48, 41, 41, 0.425);
    padding: 1%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 2.7em;
    margin-top: 20%;
}

.btn:hover{
    transform: scale(1.5);
    color: rgb(223, 23, 49);
}

#voltar{
    top: 100%;
    left: 10%;
}

#next{
    top: 100%;
    right: 10%;
}

.balls {
    position: absolute;
    width: 50%;
    display:flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 30%;
}

#atual{
    /*margin-left: -100%;*/
    transition: all 2s;
    
}


/*Fim da inserção do carrossel*/

.setor3{
    text-align: center;
}

.setor4{

    display: flex;
    justify-content: space-around;

}

.recado{
        font-family: Vacation Planner, 'Times New Roman', Times, serif;
        color:rgba(98, 0, 255, 0.363);
        margin-top: auto;
        margin-bottom: auto;
        font-size: 8vh;
        text-align:right;
        padding-top: 1%;
}

.formulario{
    font-family: Vacation Planner, 'Times New Roman', Times, serif;
        color:rgba(98, 0, 255, 0.363);
        margin-top: auto;
        margin-bottom: auto;
        font-size: 8vh;
        text-align:left;
        padding-top: 0%;
}


/*Inserção de fontes externas*/

@font-face{
    font-family: ke Aloha;
    src: url('fontes/Ke\ Aloha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: vegan;
    src: url('fontes/VeganStylePersonalUse-5Y58.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: Vacation Planner;
    src: url('fontes/VacationPlanner/Vacation\ Planner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Fim da inserção das fontes externas*/